<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/flights" method="POST">
        <label for="airline">Airline:</label>
        <input type="text" name="airline">
        <br>
        <label for="airport">Airport:</label>
        <input type="name" name="name">
        <br>
        <label for="flightNo">flightNo:</label>
        <input type="number" name="flightNo">
        <br>
        <label for="departs">departs:</label>
        <input type="date" name="departs">
    </form>
</body>
</html>